/************************************
GENERAL
************************************/

body{
	background-color: #fff;
	margin:0px;
	padding:0px;
	overflow: scroll;
}

/* default for links */
a {
	text-decoration: none;
}

/* img element */
img {
	max-width: 100%; /* fills image's parent elemet */
}

/* warpper element -> wraps section and footer */
#wrapper{
	max-width: 1060px;
	margin: 0 auto;
	padding: 0 5%;
	display: block;
	clear: both;
}

#display {
	max-width: 100%;
	margin: 0 0 3em;
}

/* order forms */
.placeorder {
	width: 40%;
	float: left;
}

/* symbol */
.symbol {
	display: inline-block;
}

/* market by order and by price tables */
.byorder {
	float: left;
	display: inline-block;
}

.byprice {
	float: left;
	padding: 0 1.5em;
	display: inline-block;
}

td, th {
	text-align: center;
}
