<div class="placeorder">
    <h3>Place Bid</h3>
    <form>
        <div class="form-group">
            <label>Number of Shares</label>
            {{input value=numOfShares  id="numOfShares" class="form-control" type="number"}}
        </div>
        <div class="form-group">
            <label>Purchase Price</label>
            {{input value=purchasePrice id="purchasePrice" class="form-control" type="number"}}
        </div>
    </form>

    <button class="btn btn-primary" {{action 'submit' model}}>Submit</button>
    <button class="btn btn-primary" {{action 'cancel'}}>Cancel</button>
</div>